# macOS helper files
.DS_Store

# .NET build outputs
bin/
obj/

# NuGet packages
*.nupkg
# NuGet cache
*/packages/*

# Node & Expo
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rider / JetBrains
/.idea/

# Expo logs
*.expo
